html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

p {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
}

h2, h3 {
  margin: 0 0 10px 0;
}

.ul-margin {
  padding: 0 0 0 15px;
  margin: 0 0 20px 0;

}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;

}

.p-block {
  width: 692px;
  margin: 0 0 10px 0;
}

.margin-bottom {
  margin-bottom: 50px;
}


.padding {
  display: inline-block;
  padding: 24px 49px 24px 49px;

}
 
.indent:not(:last-child) {
margin: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;

}

.inc {
  margin: 0 0 40px 0 ;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;

}

.parent {
margin-bottom: 0 0 10px 0;
width: 692px;

}

.last {
  margin: 0;
  padding-bottom: 0;
}

.fig-margin {
  display: inline-block;
  margin: 0 0 40px 0;
  max-width: 872px;
}
